minitruco-android/bin
minitruco-android/gen
minitruco-android/tmp
minitruco-android-test/bin
minitruco-android-test/gen
minitruco-android-robolectric-test/bin
minitruco-android-robolectric-test/gen
minitruco-android-robolectric-test/tmp
