<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="30003"
    android:versionName="3.0.3">
    <!--
         Ao aumentar a versão, atualize também:
         - versionCode (acima)
         - Chave "novidades" em strings.xml"
         - versionCode mínimo exigido pelo servidor (se for o caso - evitar isso ao máximo!)
           em MiniTrucoServer#BUILD_MINIMO_CLIENTE
    -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <!--
        Jogo via Bluetooth
        As permissões BLUETOOTH e BLUETOOTH_ADMIN deveriam ser declaradas apenas até o SDK 30
        (Android 11), mas alguns aparelhos Redmi/Poco com Android 12 estão crashando por
        não ter a permissão declarada, então vamos estender ao SDK 31 e torcer para todos os
        outros aparelhos de fato ignorarem isso.
    -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="31" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <!--
        Jogo via internet
    -->
    <!--
        Para desligar o botão de internet, comente aqui e mude a flag em
        TituloActivity.configuraBotoesMultiplayer
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/miniTrucoTheme">
        <activity
            android:name=".android.multiplayer.internet.ClienteInternetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".android.TituloActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.TrucoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".android.multiplayer.bluetooth.ServidorBluetoothActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".android.multiplayer.bluetooth.ClienteBluetoothActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".android.OpcoesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
